/**
  Aliases
*/
j_column = j-column
column-width = j-column-width
column-gutter = j-column-gutter
edit = j-edit
span = j-span
shift = j-shift
unshift = j-shift
j_center = j-center
uncenter = j-uncenter
stack = j-stack
unstack = j-unstack
align = j-align
cf = j-cf

/**
  Alias shortcuts
*/
col = j_column
cw = column-width
cg = column-gutter
debug = edit
