/*
  Purista
*/

@font-face {
    font-family: 'purista-web';
    src: url('../fonts/PuristaMedium.eot');
    src: url('../fonts/PuristaMedium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PuristaMedium.woff') format('woff'),
         url('../fonts/PuristaMedium.ttf') format('truetype'),
         url('../fonts/PuristaMedium.svg#puristaregular') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'purista-web';
    src: url('../fonts/PuristaBold.eot');
    src: url('../fonts/PuristaBold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PuristaBold.woff') format('woff'),
         url('../fonts/PuristaBold.ttf') format('truetype'),
         url('../fonts/PuristaBold.svg#puristaboldregular') format('svg');
    font-weight: 700;
    font-style: normal;
}
