/*
  Purista
*/

@font-face {
    font-family: 'purista-web';
    src: url('../fonts/PuristaMedium.eot');
    src: url('../fonts/PuristaMedium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PuristaMedium.woff') format('woff'),
         url('../fonts/PuristaMedium.ttf') format('truetype'),
         url('../fonts/PuristaMedium.svg#puristaregular') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'purista-web';
    src: url('../fonts/PuristaBold.eot');
    src: url('../fonts/PuristaBold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PuristaBold.woff') format('woff'),
         url('../fonts/PuristaBold.ttf') format('truetype'),
         url('../fonts/PuristaBold.svg#puristaboldregular') format('svg');
    font-weight: 700;
    font-style: normal;
}

/*
  Fira Sans OT
*/

@font-face {
    font-family: 'firasans-web';
    src: url('../fonts/firasansot-bold-webfont.eot');
    src: url('../fonts/firasansot-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/firasansot-bold-webfont.woff') format('woff'),
         url('../fonts/firasansot-bold-webfont.ttf') format('truetype'),
         url('../fonts/firasansot-bold-webfont.svg#fira_sans_otbold') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'firasans-web';
    src: url('../fonts/firasansot-bolditalic-webfont.eot');
    src: url('../fonts/firasansot-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/firasansot-bolditalic-webfont.woff') format('woff'),
         url('../fonts/firasansot-bolditalic-webfont.ttf') format('truetype'),
         url('../fonts/firasansot-bolditalic-webfont.svg#fira_sans_otbold_italic') format('svg');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'firasans-web';
    src: url('../fonts/firasansot-light-webfont.eot');
    src: url('../fonts/firasansot-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/firasansot-light-webfont.woff') format('woff'),
         url('../fonts/firasansot-light-webfont.ttf') format('truetype'),
         url('../fonts/firasansot-light-webfont.svg#fira_sans_otlight') format('svg');
    font-weight: 200;
    font-style: normal;

}

@font-face {
    font-family: 'firasans-web';
    src: url('../fonts/firasansot-lightitalic-webfont.eot');
    src: url('../fonts/firasansot-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/firasansot-lightitalic-webfont.woff') format('woff'),
         url('../fonts/firasansot-lightitalic-webfont.ttf') format('truetype'),
         url('../fonts/firasansot-lightitalic-webfont.svg#fira_sans_otlight_italic') format('svg');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'firasans-web';
    src: url('../fonts/firasansot-medium-webfont.eot');
    src: url('../fonts/firasansot-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/firasansot-medium-webfont.woff') format('woff'),
         url('../fonts/firasansot-medium-webfont.ttf') format('truetype'),
         url('../fonts/firasansot-medium-webfont.svg#fira_sans_otmedium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'firasans-web';
    src: url('../fonts/firasansot-mediumitalic-webfont.eot');
    src: url('../fonts/firasansot-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/firasansot-mediumitalic-webfont.woff') format('woff'),
         url('../fonts/firasansot-mediumitalic-webfont.ttf') format('truetype'),
         url('../fonts/firasansot-mediumitalic-webfont.svg#fira_sans_otmedium_italic') format('svg');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'firasans-web';
    src: url('../fonts/firasansot-regular-webfont.eot');
    src: url('../fonts/firasansot-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/firasansot-regular-webfont.woff') format('woff'),
         url('../fonts/firasansot-regular-webfont.ttf') format('truetype'),
         url('../fonts/firasansot-regular-webfont.svg#fira_sans_otregular') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'firasans-web';
    src: url('../fonts/firasansot-regularitalic-webfont.eot');
    src: url('../fonts/firasansot-regularitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/firasansot-regularitalic-webfont.woff') format('woff'),
         url('../fonts/firasansot-regularitalic-webfont.ttf') format('truetype'),
         url('../fonts/firasansot-regularitalic-webfont.svg#fira_sans_otitalic') format('svg');
    font-weight: 400;
    font-style: italic;
}

/*
  Oswald
*/

@font-face {
  font-family: "oswald-web";
  src: url(../fonts/Oswald-Light.woff2) format("woff2"),
       url(../fonts/Oswald-Light.woff) format("woff");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "oswald-web";
  src: url(../fonts/Oswald-Regular.woff2) format("woff2"),
       url(../fonts/Oswald-Regular.woff) format("woff");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "oswald-web";
  src: url(../fonts/Oswald-Bold.woff2) format("woff2"),
       url(../fonts/Oswald-Bold.woff) format("woff");
  font-style: normal;
  font-weight: 700;
}

/*
  Adelle Sans
*/

@font-face{
  font-family: "adellesans-web";
  font-style: bold;
  font-weight: 700;
	src: local("Adelle Sans Bold"), url("https://s3.amazonaws.com/traitify-cdn/assets/fonts/adelle-sans-bold.woff") format("woff");
}

@font-face{
  font-family: "adellesans-web";
  font-style: normal;
  font-weight: 400;
	src: local("Adelle Sans"), url("https://s3.amazonaws.com/traitify-cdn/assets/fonts/adelle-sans.woff") format("woff");
}
