.footer
  background-color #202020
  color color-white

  &__inner
    padding 2rem 0

  &__bottom
    display none

    +mediaMin(size-m)
      display block

  &__nav
    background #ee2a7b
    padding 0.8rem 0

    &-inner
      display flex
      flex-direction column
      align-items center

      +mediaMin(size-s)
        flex-direction row
  &-nav
    &__list
      display flex
      align-items center
      margin 0
      padding 0
      list-style none

    &__item
      margin-right 2rem
      padding-right 2rem
      border-right 1px solid alpha(color-white, 0.5)

      &:last-child
        margin-right 0
        padding-right 0
        border-right 0

    &__link
      position relative
      top 0.2rem
      display inline-block
      font-size 2rem
      line-height 2rem
      text-transform uppercase
      color color-white
      opacity 1
      transition opacity .15s ease-out

      &:hover
        opacity .8

  &-social

    &__list
      display flex
      margin 1rem 0 0 0
      padding 0
      list-style none

      +mediaMin(size-s)
        margin 0 0 0 auto

    &__item
      margin-left 2rem

      &:first-child
        margin-left 0

    &__link
      display block
      width 2.7rem
      height 2.7rem
      background-position center
      background-repeat no-repeat
      opacity 1
      transition opacity .15s ease-out

      &:hover
        opacity .8

      &--twitter
        background-image url('../images/icons/twitter_logo_white.png')
      &--facebook
        background-image url('../images/icons/facebook_logo_white.png')
      &--linkedin
        background-image url('../images/icons/linkedin_logo_white.png')

  &__copyright
    display block
    text-align center
    font-size 1.4rem
    color color-white

    +mediaMin(size-m)
      margin 1rem 0 0 0


.overlay-search
  opacity 0
  transition opacity 200ms ease-in,height 0ms,width 0ms
  transition-delay 0ms,200ms,200ms
  height 0
  left 0
  overflow hidden
  position fixed
  top 0
  width 0
  transform scale(1.1)
  transition height 0ms 200ms,opacity 200ms ease-in,visibility 200ms,width 0ms 200ms,-webkit-transform 200ms ease-in
  background color-black
  visibility hidden
  z-index 999999
  cursor pointer

.overlay-search.focused
  opacity 0.9
  -webkit-transition-delay 0ms
  transition-delay 0ms
  height 100%
  width 100%
  -webkit-transform scale(1)
  transform scale(1)
  transition height 0ms 0ms,opacity 200ms ease-out,transform 200ms ease-out,visibility 0ms,width 0ms
  visibility visible

.overlay-search-input
  display block
  background transparent
  border none
  outline none
  font-size 2.4rem
  color #F4F4F4
  left 0
  right 0
  margin 0 auto
  width 100%

  +mediaMin(size-s)
    width 80%
    font-size 3.2rem

  +mediaMin(size-m)
    width 60%
    font-size 4.8rem

.overlay-search-form
  position relative
  width 80%
  margin 0 auto
  padding 10rem 0 0

.search-close
  border 0
  font-size 42px
  color color-white
  top 3rem
  right 3rem
  position absolute
  cursor pointer
  -webkit-tap-highlight-color transparent
