.footer
  background-color #202020
  color color-white

  &__inner
    padding 30px 0

  &__top
    display flex
    justify-content space-between
    margin-bottom 3%

  &__links-list
    margin 0
    padding 0
    list-style none

  &__links-item
    margin 0 0 5px 0

  &__links-link
    font-size 2rem
    cursor pointer
    transition color 0.2s

    &:hover
      color color-pink

  &__copy
    &-logo
      font-family font-condensed
      font-weight 400
      font-size 2rem
      margin 0 0 10px 0

    &-text
      display block

    &-link
      display inline-block
      cursor pointer

      &:hover
        text-decoration underline
  &__subscribe
    display none
    width 50%

    +mediaMin(size-s)
      display block

  &__bottom
    display none

    +mediaMin(size-m)
      display block

.overlay-search
  opacity 0
  transition opacity 200ms ease-in,height 0ms,width 0ms
  transition-delay 0ms,200ms,200ms
  height 0
  left 0
  overflow hidden
  position fixed
  top 0
  width 0
  transform scale(1.1)
  transition height 0ms 200ms,opacity 200ms ease-in,visibility 200ms,width 0ms 200ms,-webkit-transform 200ms ease-in
  background color-black
  visibility hidden
  z-index 999999
  cursor pointer

.overlay-search.focused
  opacity 0.9
  -webkit-transition-delay 0ms
  transition-delay 0ms
  height 100%
  width 100%
  -webkit-transform scale(1)
  transform scale(1)
  transition height 0ms 0ms,opacity 200ms ease-out,transform 200ms ease-out,visibility 0ms,width 0ms
  visibility visible

.overlay-search-input
  display block
  background transparent
  border none
  outline none
  font-size 2.4rem
  color #F4F4F4
  left 0
  right 0
  margin 0 auto
  width 100%

  +mediaMin(size-s)
    width 80%
    font-size 3.2rem

  +mediaMin(size-m)
    width 60%
    font-size 4.8rem

.overlay-search-form
  position relative
  width 80%
  margin 0 auto
  padding 10rem 0 0

.search-close
  border 0
  font-size 42px
  color color-white
  top 3rem
  right 3rem
  position absolute
  cursor pointer
  -webkit-tap-highlight-color transparent
