.footer
  background-color #202020
  color color-white

  &__inner
    padding 30px 0

  &__top
    display flex
    justify-content space-between
    margin-bottom 3%

  &__links-list
    margin 0
    padding 0
    list-style none

  &__links-item
    margin 0 0 5px 0

  &__links-link
    font-size 2rem
    cursor pointer
    transition color 0.2s

    &:hover
      color color-pink

  &__copy
    &-logo
      font-family font-condensed
      font-weight 400
      font-size 2rem
      margin 0 0 10px 0

    &-text
      display block

    &-link
      display inline-block
      cursor pointer

      &:hover
        text-decoration underline
  &__subscribe
    display none
    width 50%

    +mediaMin(size-s)
      display block

  &__bottom
    display none

    +mediaMin(size-m)
      display block
