.header
  position fixed
  width 100%
  margin 0 0 3% 0
  z-index 1000
  box-shadow -3px -3px 3px 0 alpha(color-black, .19),
             3px 0 3px 0 alpha(color-black, .19),
             0 3px 3px 0 alpha(color-black, .1)

  +mediaMin(size-m)
    margin 0 auto 30px auto

  &__head
    position relative
    display flex
    justify-content space-between
    align-items center
    padding 0px 3%
    background-color color-white
    box-shadow 0 4px 6px 0 alpha(color-black, 0.2)

    +mediaMin(size-s)
      padding 15px 30px
      box-shadow none

  &__nav
    position relative
    //display none

    +mediaMin(size-s)
      display block

  &__link
    position relative
    display flex
    align-items center
    font-family 'firasans-web'
    font-weight 500
    font-size 1.1rem
    line-height 1.4rem
    text-transform uppercase
    color color-black
    letter-spacing 0.15rem
    transition color 0.2s

    &:hover
      color alpha(color-black, 0.6)

  &__link
    i
      display block
      width 50px
      height 43px
      background url('../images/logo-sng.png') center no-repeat
      background-size 50px 43px
      margin 0 0 0 10px

  &__logo
    position absolute
    top 50%
    left 50%
    margin-top -15px
    margin-left -50px

    +mediaMin(size-s)
      margin-top -26px
      margin-left -100px

  &__right
    display flex
    align-items center

  &__control
    display flex
    width 50px
    height 50px
    align-items center
    justify-content center
    cursor pointer

    +mediaMin(size-s)
      width 30px
      height 30px
      margin 0 0 0 30px

    &-icon
      display block
      width 30px
      height 30px
      background-position center
      background-repeat no-repeat

      &--menu
        background-image embedurl('../images/icons/menu.svg')
        background-size 20px 14px
      &--search
        background-image embedurl('../images/icons/search.svg')
        background-size 20px 21px
    &--opened
      .header__control-icon--menu
        background-image embedurl('../images/icons/close.svg')
        background-size 16px 16px

.logo
  display block
  width 100px
  height 30px
  background embedurl('../images/logo.svg') center no-repeat
  background-size 100px 26px
  transform scale(1)
  transition transform .15s cubic-bezier(.33,.66,.66,1)

  +mediaMin(size-s)
    width 200px
    height 52px
    background-size 200px 52px

    &--small
      transform scale(0.9)

.nav
  position absolute
  top 50px
  width 100%
  background color-white
  max-height 0px
  overflow hidden
  transition max-height .15s cubic-bezier(.33,.66,.66,1)
  overflow-y auto


  +mediaMin(size-s)
    position relative
    max-height 34px
    top 0
    overflow-y hidden

  &--hidden
    max-height 0px

  &--opened
    max-height 340px !important

  &__list
    display flex
    flex-direction column
    margin 0
    padding 0
    list-style none
    border-top 1px solid #c6c6c6
    border-bottom 1px solid #c6c6c6

    +mediaMin(size-s)
      flex-direction row

  &__item
    border-bottom 1px solid #c6c6c6

    +mediaMin(size-s)
      flex-grow 0
      flex-basis 25%
      border-right 1px solid #c6c6c6
      border-bottom 0

      &:first-child
        border-left 1px solid #c6c6c6

    &:last-child
      border-right 0

    &--active

      .nav__link
        color color-white

        &--government
          background color-government

        &--transportation
          background color-transportation

        &--healthcare
          background color-healthcare

        &--technology
          background color-technology

        &--financial
          background color-financial

        &--watch
          background color-watch

        &--listen
          background color-listen

        &--attend
          background color-attend

        &--community
          background color-community

  &__link
    display block
    padding 15px 3%
    text-align center
    font-family 'purista-web'
    font-weight 400
    font-size 1.8rem
    letter-spacing 0.08rem
    text-transform uppercase
    color color-black
    transition background .1s cubic-bezier(.33,.66,.66,1), color .15s cubic-bezier(.33,.66,.66,1)

    +mediaMin(size-s)
      font-size 1.2rem
      padding 6px 10px

    &:hover
      color color-white

    &--government
      &:hover
        background color-government

    &--transportation
      &:hover
        background color-transportation

    &--healthcare
      &:hover
        background color-healthcare

    &--technology
      &:hover
        background color-technology

    &--financial
      &:hover
        background color-financial

    &--watch
      &:hover
        background color-watch

    &--listen
      &:hover
        background color-listen

    &--attend
      &:hover
        background color-attend

    &--community
      &:hover
        background color-community
