.header
  position fixed
  width 100%
  z-index 1000
  box-shadow -3px -3px 3px 0 alpha(color-black, .19),
             3px 0 3px 0 alpha(color-black, .19),
             0 3px 3px 0 alpha(color-black, .1)

  &__head
    position relative
    display flex
    justify-content space-between
    align-items center
    padding 0px 3%
    background-color color-white
    box-shadow 0 4px 6px 0 alpha(color-black, 0.2)
    z-index: 110

    +mediaMin(size-s)
      padding 12px 30px
      box-shadow none

  &__nav
    position relative
    //display none

    +mediaMin(size-s)
      display block

  &__links
    display flex

  &__link
    position relative
    display flex
    align-items center
    font-weight 500
    font-size 1.1rem
    line-height 1.4rem
    text-transform uppercase
    color color-black
    letter-spacing 0.15rem
    transition color 0.2s
    padding 0 0 0 1rem
    margin 0 0 0 1rem
    border-left 1px solid color-black

    &:first-child
      padding 0
      margin 0
      border-left 0

    &:hover
      color alpha(color-black, 0.6)

  &__link
    i
      display block
      width 60px
      height 52px
      background url('../images/logo-sng.png') center no-repeat
      background-size 60px 52px
      margin 0 0 0 10px

  &__logo
    position absolute
    top 50%
    left 50%
    margin-top -15px
    margin-left -50px

    +mediaMin(size-s)
      margin-top -26px
      margin-left -100px

  &__right
    display flex
    align-items center

  &__control
    display flex
    width 50px
    height 50px
    align-items center
    justify-content center
    cursor pointer

    +mediaMin(size-s)
      width 30px
      height 30px
      margin 0 0 0 30px

    &-icon
      display block
      width 30px
      height 30px
      background-position center
      background-repeat no-repeat

      &--menu
        background-image embedurl('../images/icons/menu.svg')
        background-size 20px 14px
      &--search
        background-image embedurl('../images/icons/search.svg')
        background-size 20px 21px
    &--opened
      .header__control-icon--menu
        background-image embedurl('../images/icons/close.svg')
        background-size 16px 16px

.logo
  display block
  width 100px
  height 30px
  background embedurl('../images/logo.svg') center no-repeat
  background-size 100px 26px
  transform scale(1)
  transition transform .15s trs-function

  +mediaMin(size-s)
    width 200px
    height 52px
    background-size 200px 52px

    &--small
      transform scale(0.9)

.nav
  position fixed
  top 0
  width 100%
  height 100%
  background color-black
  overflow hidden
  opacity 0
  visibility hidden
  transition max-height .15s trs-function, opacity .2s trs-function

  +mediaMin(size-s)
    position relative
    max-height 34px
    height auto
    top 0
    opacity 1
    visibility visible
    transform none
    background color-white

  &--hidden
    max-height 0px

  &--opened
    opacity 0.9
    visibility visible
    overflow-y auto


  &__list
    display flex
    justify-content: center;
    height: calc(100% - 50px)
    min-height: 450px
    flex-direction column
    margin 0
    padding 0
    list-style none
    margin-top: 50px

    +mediaMin(size-s)
      margin-top 0
      flex-direction row
      border-top 1px solid #c6c6c6
      border-bottom 1px solid #c6c6c6
      min-height inherit
      height auto
      justify-content initial

  &__item
    +mediaMin(size-s)
      flex-grow 0
      flex-basis 25%
      border-right 1px solid #c6c6c6
      border-bottom 0

      &:first-child
        border-left 1px solid #c6c6c6

    &:last-child
      border-right 0

    &--active
      .nav__link
        color color-white !important

      .nav__link--government
        background color-government

      .nav__link--transportation
        background color-transportation

      .nav__link--healthcare
        background color-healthcare

      .nav__link--technology
        background color-technology

      .nav__link--financial
        background color-financial

      .nav__link--watch
        background color-watch

      .nav__link--listen
        background color-listen

      .nav__link--attend
        background color-attend

      .nav__link--community
        background color-community

  &__link
    display block
    padding 15px 3%
    text-align center
    font-family 'purista-web'
    font-weight 400
    font-size 1.8rem
    letter-spacing 0.08rem
    text-transform uppercase
    color color-white
    transition background .1s cubic-bezier(.33,.66,.66,1), color trs-function

    +mediaMin(size-s)
      font-size 1.2rem
      padding 6px 10px
      color color-black !important

    &:hover
      color color-white !important

    &--government
      &:hover
        background color-government

    &--transportation
      &:hover
        background color-transportation

    &--healthcare
      &:hover
        background color-healthcare

    &--technology
      &:hover
        background color-technology

    &--financial
      &:hover
        background color-financial

    &--watch
      &:hover
        background color-watch

    &--listen
      &:hover
        background color-listen

    &--attend
      &:hover
        background color-attend

    &--community
      &:hover
        background color-community
