@require 'lightslider.min.css'
@import '_normalize'
@import '_fonts'

/* ==========================================================================
   Remodal's necessary styles
   ========================================================================== */

/* Hide scroll bar */

html.remodal-is-locked {
  overflow: hidden;

  touch-action: none;
}

/* Anti FOUC */

.remodal,
[data-remodal-id] {
  display: none;
}

/* Necessary styles of the overlay */

.remodal-overlay {
  position: fixed;
  z-index: 9999;
  top: -5000px;
  right: -5000px;
  bottom: -5000px;
  left: -5000px;

  display: none;
}

.remodal-content {
  text-align: left;
}

/* Necessary styles of the wrapper */

.remodal-wrapper {
  position: fixed;
  z-index: 10000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: none;
  overflow: auto;

  text-align: center;

  -webkit-overflow-scrolling: touch;
}

.remodal-wrapper:after {
  display: inline-block;

  height: 100%;
  margin-left: -0.05em;

  content: "";
}

/* Fix iPad, iPhone glitches */

.remodal-overlay,
.remodal-wrapper {
  backface-visibility: hidden;
}

/* Necessary styles of the modal dialog */

.remodal {
  position: relative;

  outline: none;

  text-size-adjust: 100%;
}

.remodal-is-initialized {
  /* Disable Anti-FOUC */
  display: inline-block;
}

/* ==========================================================================
   Remodal's default mobile first theme
   ========================================================================== */

/* Default theme styles for the background */

.remodal-bg.remodal-is-opening,
.remodal-bg.remodal-is-opened {
  filter: blur(3px);
}

/* Default theme styles of the overlay */

.remodal-overlay {
  background: rgba(0, 0, 0, 0.7);
}

.remodal-overlay.remodal-is-opening,
.remodal-overlay.remodal-is-closing {
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

.remodal-overlay.remodal-is-opening {
  animation-name: remodal-overlay-opening-keyframes;
}

.remodal-overlay.remodal-is-closing {
  animation-name: remodal-overlay-closing-keyframes;
}

/* Default theme styles of the wrapper */

.remodal-wrapper {
  padding: 10px 10px 0;
}

/* Default theme styles of the modal dialog */

.remodal {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 10px;
  padding: 35px;

  transform: translate3d(0, 0, 0);

  color: #fff;
  background: #000;
}

.remodal.remodal-is-opening,
.remodal.remodal-is-closing {
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

.remodal.remodal-is-opening {
  animation-name: remodal-opening-keyframes;
}

.remodal.remodal-is-closing {
  animation-name: remodal-closing-keyframes;
}

/* Vertical align of the modal dialog */

.remodal,
.remodal-wrapper:after {
  vertical-align: middle;
}

/* Close button */

.remodal-close {
  position: absolute;
  top: 0;
  right: 0;

  display: block;
  overflow: visible;

  width: 35px;
  height: 35px;
  margin: 0;
  padding: 0;

  cursor: pointer;
  transition: color 0.2s;
  text-decoration: none;

  color: #fff;
  border: 0;
  outline: 0;
  background: transparent;
  opacity: 1;
  transition: opacity .15s ease-out;
}

.remodal-close:hover,
.remodal-close:focus {
  opacity: .7;
}

.remodal-close:before {
  font-family: Arial, "Helvetica CY", sans-serif !important;
  font-size: 25px;
  line-height: 35px;

  position: absolute;
  top: 0;
  left: 0;

  display: block;

  width: 35px;

  content: "\00d7";
  text-align: center;
}

/* Keyframes
   ========================================================================== */

@keyframes remodal-opening-keyframes {
  from {
    transform: scale(1.05);

    opacity: 0;
  }
  to {
    transform: none;

    opacity: 1;
  }
}

@keyframes remodal-closing-keyframes {
  from {
    transform: scale(1);

    opacity: 1;
  }
  to {
    transform: scale(0.95);

    opacity: 0;
  }
}

@keyframes remodal-overlay-opening-keyframes {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes remodal-overlay-closing-keyframes {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Media queries
   ========================================================================== */

@media only screen and (min-width: 641px) {
  .remodal {
    max-width: 700px;
  }
}

/* IE8
   ========================================================================== */

.lt-ie9 .remodal-overlay {
  background: #2b2e38;
}

.lt-ie9 .remodal {
  width: 700px;
}


font-base = 'Fira Sans', Helvetica, Arial, sans-serif
font-condensed = 'Oswald'

size-font = 1.5rem
size-line = 2rem

size-s = 768px
size-m = 1060px
size-l = 1200px

color-main = rgb(0, 0, 0)
color-black = rgb(0, 0, 0)
color-white = rgb(255, 255, 255)
color-light = #f7f7f7
color-pink = #ed2a7a

/*
  Category colors
*/
color-technology = #42467C
color-government = #330047
color-transportation = #002E4A
color-financial = #426F73
color-healthcare = #0A2239
color-watch = #5C707C
color-listen = #1E5F4C
color-attend = #054A29
color-community = #132E32

trs-function = cubic-bezier(.33,.66,.66,1)

mediaMin(minWidth)
  @media screen and (min-width: minWidth)
    {block}
mediaBetween(minWidth, maxWidth)
  @media screen and (min-width: minWidth) and (max-width: maxWidth)
    {block}

*
  &
  &:before
  &:after
    box-sizing border-box
  &:active
    -webkit-tap-highlight-color: alpha(color-white, 0)

::selection
  background alpha(color-black, 0.05)

input
textarea
  &:focus
    outline 0

html
  font-size 62.5%
  text-rendering optimizeLegibility
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  background-color: color-light

  +mediaMin(size-s)
    background-color color-white

body
  position relative
  font 400 size-font/size-line font-base
  color color-main

a
a:link
a:active
a:visited
  text-decoration none
  cursor pointer

h1
h2
h3
h4
h5
.h1
.h2
.h3
.h4
.h5
  font-family font-condensed
  margin 0 0 3% 0

  +mediaMin(size-s)
    margin 0 0 3rem 0

h1
  font-size 3rem
  line-height 3.6rem

  +mediaMin(size-s)
    font-size 5rem
    line-height 5.8rem

h2
.h2
  font-size 2.6rem
  line-height 2.8rem

  +mediaMin(size-s)
    font-size 4rem
    line-height 4.4rem

h3
.h3
  font-size 2.4rem
  line-height 2.8rem

  +mediaMin(size-s)
    font-size 3.5rem
    line-height 4rem

h4
.h4
  font-size 2.2rem
  line-height 2.8rem

  +mediaMin(size-s)
    font-size 2.4rem

h5
.h5
  font-weight 300
  font-size 2rem
  line-height 2.4rem

@require '_header'
@require '_footer'
@import 'jeet/_jeet'

.noscroll
  overflow hidden

  +mediaMin(size-s)
    overflow auto

.show-s
  display none
  +mediaMin(size-s)
    display inherit

.show-m
  display none
  +mediaMin(size-m)
    display inherit

.hide-s
  display inherit
  +mediaMin(size-s)
    display none

.wrapper
  position relative
  //j_center(1200px)
  padding-top 50px

  +mediaMin(size-s)
    padding-top 110px

.container
  margin 0 3%

  +mediaMin(size-m)
    j_center(980px)

.articles-wrapper
.content-wrapper
  padding 3% 0

  +mediaMin(size-m)
    padding 3rem 0

.articles
  background color-white
  padding 3%
  box-shadow 0 3px 5px 0 alpha(color-black, 0.3)
  border-top 1rem solid color-black
  border-bottom 0.3rem solid color-black

  +mediaMin(size-s)
    padding 0
    box-shadow none
    background transparent
    border-top none
    border-bottom 0.5rem solid color-black

  &--noborder
    border-bottom none

  &__list
    cf()

    &--home
      +mediaMin(size-s)
        margin 0 -1.5%

      .ads--full
        float left
        +mediaMin(size-s)
          padding-left 1.5%
          padding-right 1.5%

  &__item
    margin 3% 0

    +mediaMin(size-m)
      margin 30px 0

    &:first-child
      margin 0 0 3% 0

      +mediaMin(size-m)
        margin 0 0 30px 0

    &--third
      margin 0 0 3% 0

      +mediaMin(size-s)
        width 30%
        margin 0 1.66667% 3% 1.66667%
        float left

  &__more
    display block
    background color-pink
    padding 8px 0 4px 0
    text-transform uppercase
    color color-white
    text-align center
    font-weight 700
    border 3px solid color-pink
    transition background 0.2s, color 0.2s
    cursor pointer

    &:hover
      background color-white
      color color-black

    &:active
      background color-pink
      color color-black

    +mediaMin(size-m)
      padding 12px 0 8px 0
      font-size 2.5rem
      line-height 3rem
      border 5px solid #ee2a7b

  &__load
    display flex
    align-items center
    justify-content center
    cursor pointer
    padding 3% 0
    text-align center

    i
      display block
      width 20px
      height 20px
      background url('../images/icons/more.svg') center no-repeat
      background-size 20px 20px

    +mediaMin(size-m)
      padding 30px 0


.article-thumb
  cf()
  border-bottom 1px solid color-black

  +mediaMin(size-s)
    border-bottom 0

  &:hover
    .article-thumb__image:before
      opacity 1
    .article-thumb__title
      color color-pink

  &--bordered
    border-bottom 1px solid color-black

    +mediaMin(size-s)
      border-bottom 5px solid color-black

  &--fixed
    +mediaMin(size-s)
      height 420px

      .article-thumb__short
        height 80px

  &--line
    +mediaMin(size-s)
      display flex

  &__image
    position relative
    display block
    width 100%
    padding-bottom 56%
    background-size cover
    background-repeat no-repeat
    background-position center

    &:before
      position absolute
      content ' '
      top 0
      left 0
      width 100%
      height 100%
      opacity 0
      background alpha(color-black, 0.1)
      transition opacity .15s trs-function

  &__media
    &--line
      +mediaMin(size-s)
        col(1/3)

  &__information
    &--line
      +mediaMin(size-s)
        col(2/3)
        display flex
        flex-direction column
        justify-content center

      .article-thumb__category
        +mediaMin(size-s)
          margin 0

  &__category
    margin 10px 0

    &-link
      position relative
      display inline-block
      font-weight 700
      font-size 1.1rem
      text-transform uppercase
      color color-black

      &:before
        position absolute
        top -0.25rem
        bottom -0.1rem
        right -0.35rem
        left -0.35rem
        content " "
        opacity 0
        transition all 0.15s ease-in-out
        transform scale(1.1)
        z-index -1

      &:hover:before
        border-radius 2px
        opacity 0.15
        transform scale(1)

      &--government
        color color-government
        &:before
          background color-government

      &--transportation
        color color-transportation
        &:before
          background color-transportation

      &--healthcare
        color color-healthcare
        &:before
          background color-healthcare

      &--technology
        color color-technology
        &:before
          background color-technology

      &--financial
        color color-financial
        &:before
          background color-financial

      &--watch
        color color-watch
        &:before
          background color-watch

      &--listen
        color color-listen
        &:before
          background color-listen

      &--attend
        color color-attend
        &:before
          background color-attend

      &--community
        color color-community
        &:before
          background color-community

  &__title
    display block
    color #333
    margin 10px 0
    transition color 0.2s

    &:hover
      color color-pink

    h3
      font-weight 300
      font-size 2.4rem
      line-height: 2.6rem
      margin 0

  &__meta
    margin 10px 0
    font-size 1.2rem
    line-height 1.4rem
    color #8c8a8a

  &__short
    display none
    margin 10px 0
    overflow hidden

    +mediaMin(size-s)
      display block

    p
      margin 0
      color #333

.title
  font-weight 700
  font-size 2.4rem
  line-height 2.6rem
  color #010101
  border-bottom 3px solid #000
  padding 5px 0
  margin 0 0 3% 0
  text-transform uppercase

  +mediaMin(size-s)
    font-size 3.7rem
    line-height 4rem
    border-bottom 5px solid #000

  &--normal
    text-transform initial

.page-hero
  position relative
  width 100%

  &__media
    width: 100%
    padding-bottom 60%
    overflow hidden
    background-repeat no-repeat
    background-position center
    background-size cover

    +mediaMin(size-s)
      padding-bottom 50%

    +mediaMin(size-m)
      padding-bottom 30%

    &:before
      position absolute
      content ' '
      top 0
      left 0
      width 100%
      height 100%
      background alpha(color-black, 0.15)

  &__wrapper
    width 100%
    height 100%
    background #202020
    overflow hidden

    +mediaMin(size-s)
      position absolute
      top 0
      left 0
      z-index 10
      background transparent


  &__container
    position relative
    display table
    height 100%

  &__info
    display table-cell
    padding 5% 0
    height 100%
    vertical-align bottom
    color color-white
    text-shadow 1px 1px 1px alpha(color-black, 0.75)

    +mediaMin(size-s)
      padding 0 0 5rem 0

  &__link
    display block
    position absolute
    top 0
    left 0
    width 100%
    height 100%

  &__title
    width 100%

    +mediaMin(size-m)
      max-width 80%


  &__text
    width 100%
    margin 0

    +mediaMin(size-s)
      font-size 1.8rem
      line-height 2.6rem
      font-weight 700

    +mediaMin(size-m)
      max-width 70%


.featured-video
  display block
  position relative
  width 100%
  background-repeat no-repeat
  background-position center 70%
  background-size cover
  cursor default

  &__wrapper
    position relative
    padding-bottom 56.25%
    height 0

    iframe
      position absolute
      top 0
      left 0
      width 100%
      height 100%


  &__inner

    +mediaMin(size-s)
      position absolute
      width 100%
      left 0
      right 0
      bottom 0

  &__text
    padding 3%
    font-weight 700
    color color-white
    text-align center
    background color-black

    +mediaMin(size-s)
      font-size 1.8rem
      line-height 2.2rem

    +mediaMin(size-m)
      padding 30px 0
      font-size 2.5rem
      line-height 3.2rem

.ads

  &--full
    display none
    width 100%
    margin 0 0 3% 0

    +mediaMin(980px)
      display block

    +mediaMin(size-m)
      margin 0 0 30px 0

  &__element
    display block
    width 100%
    height auto


.events
  position relative
  background #fff
  padding 3%
  box-shadow 0 3px 5px 0 alpha(color-black, 0.3)
  margin 3% 0
  border-top 1rem solid color-black

  +mediaMin(size-s)
    padding 0
    box-shadow none
    border-top none

  +mediaMin(size-m)
    margin 30px 0

  &__item
    margin 3% 0

    &:last-child
      margin-bottom 0

      +mediaMin(size-m)
        margin-bottom 3%

  &__filters
    display none

    +mediaMin(size-m)
      display block
      position absolute
      top 27px
      right 0

  &__filter
    display inline-block
    font-weight 500
    font-size 1.4rem
    line-height 2rem
    font-style italic
    text-transform uppercase
    transition color 0.2s
    cursor pointer

    &:hover
      color color-pink

      &:after
        color color-black


    &:after
      content '/'
      margin 0 10px

    &:last-child
      &:after
        display none

.event
  cf()
  padding-bottom 3%
  border-bottom 1px solid color-black

  +mediaMin(size-m)
    padding-bottom 30px

  &__image
    display block
    width 100%
    height 50vw
    background-size cover
    background-repeat no-repeat
    background-position center
    border 1px solid #d3d3d3

    +mediaMin(size-s)
      col(1/3)
      height 170px

  &__information
    cf()
    +mediaMin(size-s)
      col(2/3)

    &-left
      +mediaMin(size-s)
        col(2/3)
    &-right
      display none
      +mediaMin(size-s)
        display inherit
        col(1/3)

  &__category
    margin 10px 0

    &-link
      display inline-block
      font-weight 700
      font-size 1.1rem
      text-transform uppercase
      color color-black

  &__title
    display block
    color #333
    margin 10px 0
    transition color 0.2s

    &:hover
      color color-pink

    h3
      font-weight 300
      font-size 2.4rem
      line-height: 2.6rem
      margin 0

  &__date
    margin 3% 0
    font-weight 700
    font-size 1.1rem
    line-height 1.2rem
    color #ee2a7b

    +mediaMin(size-m)
      margin 40px 0 10px 0

  &__place
    margin 3% 0 0 0
    overflow hidden
    color #363636

    +mediaMin(size-m)
      margin 10px 0 0 0

  &__register
    display block
    background color-black
    color color-white
    text-align center
    font-family font-condensed
    font-weight 700
    font-size 2.4rem
    line-height 3rem
    padding 9px 0 11px 0
    text-transform uppercase
    margin 40px 0 0 0
    transition background 0.2s, color 0.3s
    cursor pointer

    &:hover
      background color-pink

    &:active
      background color-pink
      color color-black

  &__open
    display block
    background color-white
    color color-black
    text-align center
    font-family font-condensed
    font-weight 300
    font-size 2.4rem
    line-height 3rem
    padding 9px 0 11px 0
    text-transform uppercase
    transition color 0.3s
    cursor pointer

    &:hover
      color color-pink

.featured-event
  display none

  +mediaMin(size-s)
    display block
    width 100%

  &__element
    display block
    width 100%
    height auto

.related-news
  margin 3% 0
  +mediaMin(size-s)
    margin 0 0 3rem 0
    padding 50px 0 20px 0
    background #f4f4f4

.article
  background color-white
  +mediaMin(size-s)
    background transparent

  &__header
  &__inner
    j_center(86.25vw)

    +mediaMin(size-m)
      max-width 980px
      margin-bottom 3rem

  &__category
    display block
    font-weight 700
    font-size 1.2rem
    color #0600ff
    text-transform uppercase
    padding-top 3%

    +mediaMin(size-s)
      font-size 2rem

    +mediaMin(size-m)
      padding-top 0
      margin 0 0 1rem 0

    &--government
      color color-government

    &--transportation
      color color-transportation

    &--healthcare
      color color-healthcare

    &--technology
      color color-technology

    &--financial
      color color-financial

    &--watch
      color color-watch

    &--listen
      color color-listen

    &--attend
      color color-attend

    &--community
      color color-community

  &__title
    font-size 3rem
    line-height 3.4rem
    color #333

    +mediaMin(size-s)
      font-size 6rem
      line-height 6.5rem

  &__media
    position relative

  &__image
    width 100%
    padding-bottom 50%
    background-color #f4f4f4
    background-size cover
    background-position center center
    background-repeat no-repeat

    &-info
      display block
      border-bottom 3px solid #eee
      padding 1.5% 0

      +mediaMin(size-s)
        padding 15px 0
        border-bottom 5px solid #eee

      span
        font-size 1.2rem
        line-height 1.4rem
        color #989797

        +mediaMin(size-s)
          font-size 1.4rem
          line-height 1.8rem
  &__content
    cf()

    +mediaMin(size-s)
      margin 3% 0

    +mediaMin(size-m)
      margin 30px 0

    &-side
      +mediaMin(size-s)
        col(1/3)
    &-text
      +mediaMin(size-s)
        col(2/3)

      & > *:first-child
        margin-top 0

      p
        color #4c4c4c
        margin 3% 0

        +mediaMin(size-s)
          font-size 2rem
          line-height 2.8rem

        +mediaMin(size-m)
          margin 30px 0

      a
        display inline-block
        line-height 1
        color color-pink
        border-bottom 1px solid alpha(color-pink, .2)
        transition border-bottom .15s ease-out

        &:hover
          border-bottom 1px solid alpha(color-pink, .8)

  &__author
    display inline-block
    margin 0 3% 0 0
    color color-main
    transition color .15s ease-out

    &:hover
      color color-pink

    +mediaMin(size-s)
      display block
      font-size 2rem
      line-height 2.4rem
      margin-bottom 10px

  &__meta
    display inline-block
    color #888

    +mediaMin(size-s)
      display block
      font-family font-condensed
      font-size 2rem
      text-transform uppercase
      font-weight 300
      padding 10px 0
      border-top 1px solid alpha(color-black, 0.2)

  &__ads
    +mediaMin(size-m)
      float left
      margin 0 30px 30px -335px

    img
      display block
      width 100%
      height auto

.side-block
  text-align center
  margin 3% 0

  +mediaMin(size-s)
    text-align left
    margin 0

  &__title
    display none

    +mediaMin(size-s)
      display block
      font-size 2rem
      line-height 2.8rem
      color color-black
      text-transform uppercase
      border-bottom 3px solid color-black
      margin 0 0 15px 0

.share
  cf()
  text-align center

  +mediaMin(size-s)
    text-align left
    margin 30px 0
  &__link
    display inline-block
    width 30px
    height 30px
    margin 0 10px 0 0
    background-repeat no-repeat
    background-position center
    opacity 1
    transition opacity 0.2s
    cursor pointer

    &:hover
      opacity 0.7

    &--twitter
      background-image url('../images/icons/social-twitter.svg')
      background-size 24px 20px
    &--facebook
      background-image url('../images/icons/social-facebook.svg')
      background-size 24px 24px
    &--linkedin
      background-image url('../images/icons/social-linkedin.svg')
      background-size 24px 22px
    &--email
      background-image url('../images/icons/social-email.svg')
      background-size 28px 20px
    &--reddit
      background-image url('../images/icons/social-reddit.svg')
      background-size 27px 23px

.watch-landing
  padding 3% 0
  background #f7f7f7
  margin 0 0 3% 0

  +mediaMin(size-s)
    padding 3rem 0

  +mediaMin(size-m)
    margin 0 0 30px 0

  &__share
    margin-bottom 3%

  &__wrapper
    position relative
    padding-bottom 56.25%
    padding-top 25px
    height 0

    iframe
    	position absolute
    	top 0
    	left 0
    	width 100%
    	height 100%

  &__name
    font-size 3rem
    line-height 3.4rem
    color #333
    margin 3% 0

    +mediaMin(size-s)
      font-size 6rem
      line-height 6.5rem

    +mediaMin(size-m)
      margin 30px 0

  &__videos
    position relative
    padding-top 15px

    &-title
      position absolute
      top 0px
      left 0px
      display block
      font-size 2rem
      line-height 2.2rem
      font-weight 400
      color color-black
      background-color #f7f7f7
      z-index 100
      padding-right 20px

    &-controls
      position absolute
      right 0
      top 10px
      display flex
      background #f7f7f7

    &-control
      font-weight 700
      font-size 1.3rem
      line-height 1.4rem
      margin 0 10px
      cursor pointer
      color color-black
      transition color 0.2s

      &:hover
        color alpha(color-black, 0.5)

      &--prev
        padding-left 15px
        background url('../images/icons/arrow-left.svg') left 1px no-repeat
        background-size 10px 10px

      &--next
        padding-right 15px
        background url('../images/icons/arrow-right.svg') right 1px no-repeat
        background-size 10px 10px

  &__l
    border-top 1px solid #bfbfbf
    padding 20px 0 0 0

  &__list
    padding 0
    margin 0
    list-style none
    cf()

  &__item
    border-top 5px solid color-black
    padding 5px 0 0 0
    col(1/2)

    +mediaMin(size-s)
      col(1/3)

    +mediaMin(size-m)
      col(1/6)

  &__link
    display block

    &-image
      display block
      width 100%
      height auto

    &-text
      display block
      font-size 1.4rem
      line-height 1.8rem
      font-weight 700
      color color-black
      margin 10px 0 0 0

.lSPager
  display none

.community
  border-top 1rem solid color-black
  margin 0 3%

  +mediaMin(size-s)
    border-top 0

  +mediaMin(size-m)
    margin-bottom 30px

  &-wrapper
    padding 3% 0 0 0

    +mediaMin(size-m)
      padding 3rem 0 0 0

  &--hidden
    opacity 0
    height 2000px

  &__container
    cf()
    box-shadow 0 3px 5px 0 alpha(color-black, 0.3)
    margin 0 -3%

    +mediaMin(size-s)
      box-shadow none
      margin 0 auto
    +mediaMin(size-m)
      max-width 1200px

  &__title
    display block

    img
      display block
      width 80%
      height auto

    +mediaMin(size-s)
      display none


.people
  position relative
  float left
  width 50%
  padding 0.5rem

  +mediaMin(size-s)
    width 16.6666667%

  &__link
    position relative
    transition box-shadow .15s trs-function
    cursor pointer
    box-shadow 0 3px 8px 0 alpha(color-black, 0.4)

    &:hover
      box-shadow 0 5px 15px 0 alpha(color-black, 0.5)

  &--community
    padding 10px 20px
    width 100%

    +mediaMin(size-s)
      width 33.3333334%

    .people__link
      box-shadow none

  &--large
    width 100%

    +mediaMin(size-s)
      width 33.3333334%

    .people__link
      border 5px solid color-black

  &__photo
    display block
    width 100%
    height auto

  &__info
    display block
    position absolute
    bottom 0px
    left 0px
    right 0px
    background color-black
    padding 3%

  &__name
    display block
    position relative
    font-family font-condensed
    font-weight 300
    font-size 1.8rem
    line-height 2rem
    color color-pink
    text-transform uppercase
    z-index 1

    +mediaMin(size-s)
      font-size 2.3rem
      line-height 2.5rem

  &__meta
    position relative
    display block
    font-weight 400
    font-size 1.4rem
    line-height 1.6rem
    color color-white
    text-transform uppercase
    z-index 1

    +mediaMin(size-s)
      font-size 1.6rem
      line-height 2rem

.sng
  display flex
  justify-content space-between
  align-items center

  &__link
    display block
    cursor pointer
    width 197px
    height 100px
    background-size 197px 100px
    background-repeat no-repeat
    background-position center
    opacity 1
    transition opacity .15s ease-out

    &:hover
      opacity .6

    &--cyberscoop
      background-image url('../images/cyberscoop_white.png')

    &--edscoop
      background-image url('../images/edscoop_white.png')

    &--sng
      width 116px
      height 100px
      background url('../images/sng_white.png') center no-repeat
      background-size 116px 100px

    &--fedscoop
      background-image url('../images/fedscoop_white.png')

    &--statescoop
      background-image url('../images/statescoop_white.png')

.subscribe

  &--news
    padding 5%
    background #252525

    & ^[0]__title
      font-size 2.2rem
      line-height 3rem

    & ^[0]__input
      padding 1rem
      font-size 2.2rem
      line-height 3rem

    & ^[0]__button
      padding 12px 10px 8px 10px
      font-size 2.2rem
      line-height 3rem

  &__icon
    width 150px
    height 60px
    background url('../images/icons/subscribe_icon.png') center no-repeat
    background-size 150px 60px

  &__title
    font-size 2.2rem
    line-height 3rem
    color color-white
    font-family font-condensed
    font-weight 300
    margin 3rem 0

    +mediaMin(size-s)
      font-size 4.2rem
      line-height 5rem

  &__additional
    display block
    color #787878
    margin 3rem 0

    +mediaMin(size-s)
      font-size 2rem
      line-height 2.4rem

    a
      color #787878
      text-decoration underline

  &__form
    display flex
    margin 3% 0 0 0

  &__input
    font-family 'Helvetica Neue', Helvetica, Arial
    flex 1
    min-width 50px
    padding 1rem
    border-radius 0
    border 0
    font-size 2.2rem
    line-height 3rem
    color #acacac

    +mediaMin(size-s)
      padding 1.5rem
      font-size 2.8rem
      line-height 3.4rem

  &__button
    display block
    background color-pink
    border-radius 0
    border 0
    padding 12px 25px 8px 25px
    font-weight 500
    color color-white
    cursor pointer
    font-size 2.4rem
    line-height 2.8rem

.overlay
  position fixed
  top 0
  right 0
  bottom 0
  left 0
  z-index 99999
  overflow-y auto
  opacity 1
  transition opacity .2s ease-in
  background alpha(color-black, 0.7)
  text-align center

  &--open
    position static !important
    overflow hidden

  &--hidden
    transition opacity .3s ease-in,visibility .3s ease-in
    visibility hidden
    overflow hidden
    opacity 0

    .popup
      transform translateY(-100px)
      opacity 0

.popup
  display inline-block
  position relative
  max-width 700px
  margin 65px 3%
  box-shadow 0 5px 15px 0 alpha(color-black, 0.5)
  transform translateY(0)
  opacity 1
  transition: transform .3s, opacity .3s

  +mediaMin(size-m)
    margin 120px 0

  &__inner
    padding 30px
    background color-black

  &__control
    position absolute
    top 0
    right 0
    width 40px
    height 40px
    background color-black

    &:after
      content ' '
      position absolute
      top 10px
      left 10px
      right 10px
      bottom 10px
      width 20px
      height 20px
      background url('../images/icons/close-white.svg') center no-repeat
      background-size 14px 14px
      opacity 1
      transition opacity .2s

    &:hover
      &:after
        opacity 0.5

.card

  &__top
    cf()
    margin-bottom 3%

    +mediaMin(size-m)
      margin-bottom 30px

  &__photo
    float left
    max-width 125px
    height auto
    margin-right 3%
    overflow hidden

    +mediaMin(size-m)
      max-width 250px
      margin-right 30px

    img
      display block
      max-width 125px
      height auto

      +mediaMin(size-m)
        max-width 250px

  &__name
    font-family font-condensed
    font-weight 300
    color color-pink
    font-size 3.5rem
    line-height 4rem
    text-transform uppercase
    margin 0 0 10px 0

    +mediaMin(size-m)
      font-size 6.5rem
      line-height 7rem

  &__meta-line
    display block
    color color-white

    +mediaMin(size-m)
      font-size 2.4rem
      line-height 3rem

  &__bottom
    font-family font-base
    color color-white

.contacts-hero
  position relative
  width 100%

  &__media
    width: 100%
    padding-bottom 50%
    overflow hidden
    background-repeat no-repeat
    background-position center
    background-size cover

    +mediaMin(size-s)
      padding-bottom 40%

    +mediaMin(size-m)
      padding-bottom 25%

.contacts-brands
  padding 3% 0

  +mediaMin(size-m)
    padding 5rem 0 0 0

  &__list
    margin 0
    padding 0
    list-style none

    +mediaMin(size-s)
      margin 0 -1.5rem

  &__row
    cf()

  &__item
    margin-bottom 3rem
    +mediaMin(size-s)
      width 50%
      padding 0 1.5rem
      float left
      margin-bottom 5rem

.contacts-brand
  &__logo
    width 100%
    height auto
    margin 0 0 1.5% 0

    +mediaMin(size-m)
      margin 0 0 1.5rem 0

    &_cyberscoop
      max-width 15.5rem

      +mediaMin(size-s)
        max-width 31.1rem
    &_fedscoop
      max-width 12.4rem

      +mediaMin(size-s)
        max-width 24.8rem
    &_edscoop
      max-width 11.1rem

      +mediaMin(size-s)
        max-width 22.2rem
    &_statescoop
      max-width 16.2rem
      +mediaMin(size-s)
        max-width 32.4rem

  &__description
    color #363636
    margin 0 0 2rem 0

    +mediaMin(size-s)
      font-size 2rem
      line-height 2.8rem

    +mediaMin(size-m)
      margin 0 0 3rem 0

  &__link
    display block
    font-size 1.8rem
    line-height 2.4rem
    color #ee2a7b
    font-weight 300
    padding 0 0 0 4rem
    margin 0 0 1rem 0
    opacity 1
    transition opacity .15 ease-out
    background-size 50%

    +mediaMin(size-s)
      font-size 2.8rem
      line-height 3.4rem

    &:hover
      opacity 0.8

    &_phone
      background url('../images/icons/phone_icon.png') left center no-repeat
      background-size 25px 24px

      +mediaMin(size-s)
        background-size 33px 32px

    &_email
      background url('../images/icons/email_icon.png') left center no-repeat
      background-size 25px 18px

      +mediaMin(size-s)
        background-size 31px 22px

.author-intro
  border-bottom 7px solid #efefef
  padding 2rem 0
  margin-bottom 1rem
  color #4c4c4c

  +mediaMin(size-s)
    padding 4rem 0
    margin-bottom 2rem
    font-size 2rem
    line-height 2.8rem

.author
  padding 3rem 0 2rem 0
  background-size cover
  background-repeat no-repeat

  +mediaMin(size-s)
    padding 5rem 0

  &__inner
    text-align center

  &__photo
    display inline-block
    width 20rem
    height 20rem
    background url('../images/author-noimage.png') center no-repeat
    border-radius 50%
    border 5px solid #b8b7b7

    +mediaMin(size-s)
      width 27rem
      height 27rem

  &__image
    position relative
    top -0.1rem
    left -0.1rem
    display block
    width 19.2rem
    height 19.2rem
    border-radius 50%
    border 0

    +mediaMin(size-s)
      width 26.2rem
      height 26.2rem

  &__name
    font-family font-condensed
    font-weight 300
    text-transform uppercase
    color color-white
    margin 2rem 0 1rem 0

    +mediaMin(size-s)
      font-size 4rem
      line-height 4.8rem

  &__position
    font-family font-base
    font-weight 400
    color #c8c8c8
    margin 1rem 0

    +mediaMin(size-s)
      font-size 3rem
      line-height 3.8rem

  &__links
    display inline-block

  &__link
    display inline-block
    width 5rem
    height 5rem
    display inline-block
    background-repeat no-repeat
    background-position center
    margin 0 1rem
    opacity 1
    transition opacity .15s ease-out

    &:hover
      opacity .8

    &--twitter
      background-image url('../images/icons/twitter_w_icon.png')

    &--email
      background-image url('../images/icons/email_w_icon.png')

.wp-caption
  margin 0 3rem

  .size-full
  .size-large
    display block
    width 100%
    height auto
    margin 0 !important

  &-text
    width 100%
    text-align center
    color #989797
    margin 1rem 0 0 0
