extends templates/base

block content
  include templates/header
  .wrapper
    .featured-event
      img(src="images/page-image-event.png").featured-event__element
    .container
      .events
        h2.events__title.title Upcoming live events
        .events__list
          .events__item
            .event
              a(href="#").event__image(style={'background-image': 'url(images/media/Event1.png)'})
              .event__information
                .event__information-left
                  .event__date
                    span AUGUST 25, 2016
                  a(href="#").event__title
                    h3 8th Annual Lowering the Cost of Gov with IT Summit
                  .event__place
                    span The Newseum, Washington DC
                .event__information-right
                  a.event__register
                    span Register
                  a.event__open
                    span More info +
          .events__item
            .event
              a(href="#").event__image(style={'background-image': 'url(images/media/Event2.png)'})
              .event__information
                .event__information-left
                  .event__date
                    span JUNE 14, 2016
                  a(href="#").event__title
                    h3 2016 Federal Forum
                  .event__place
                    span The Reinassance, Washington DC
                .event__information-right
                  a(href="#").event__register
                    span Register
                  a(href="#").event__open
                    span More info +
      .ads.ads--full
        a(href="#").ads__link
          img(src='images/a/3.jpg').ads__element
      .events
        h2.events__title.title Upcoming webinars
        .events__list
          .events__item
            .event
              a(href="#").event__image(style={'background-image': 'url(images/media/Event1.png)'})
              .event__information
                .event__information-left
                  .event__date
                    span AUGUST 25, 2016
                  a(href="#").event__title
                    h3 8th Annual Lowering the Cost of Gov with IT Summit
                  .event__place
                    span The Newseum, Washington DC
                .event__information-right
                  a.event__register
                    span Register
                  a.event__open
                    span More info +
          .events__item
            .event
              a(href="#").event__image(style={'background-image': 'url(images/media/Event2.png)'})
              .event__information
                .event__information-left
                  .event__date
                    span JUNE 14, 2016
                  a(href="#").event__title
                    h3 2016 Federal Forum
                  .event__place
                    span The Reinassance, Washington DC
                .event__information-right
                  a(href="#").event__register
                    span Register
                  a(href="#").event__open
                    span More info +
      .ads.ads--full
        a(href="#").ads__link
          img(src='images/a/3.jpg').ads__element
      .events
        h2.events__title.title All events
        .events__filters
          a.events__filter PAST FEDSCOOP EVENTS
          a.events__filter SPECIALIZED CLIENT EVENTS
          a.events__filter PARTNER EVENTS
          a.events__filter ON-DEMAND WEBINARS
          a.events__filter YEARS
        .events__list
          .events__item
            .event
              a(href="#").event__image(style={'background-image': 'url(images/media/Event1.png)'})
              .event__information
                .event__information-left
                  .event__date
                    span AUGUST 25, 2016
                  a(href="#").event__title
                    h3 8th Annual Lowering the Cost of Gov with IT Summit
                  .event__place
                    span The Newseum, Washington DC
                .event__information-right
                  a.event__register
                    span Register
                  a.event__open
                    span More info +
          .events__item
            .event
              a(href="#").event__image(style={'background-image': 'url(images/media/Event2.png)'})
              .event__information
                .event__information-left
                  .event__date
                    span JUNE 14, 2016
                  a(href="#").event__title
                    h3 2016 Federal Forum
                  .event__place
                    span The Reinassance, Washington DC
                .event__information-right
                  a(href="#").event__register
                    span Register
                  a(href="#").event__open
                    span More info +
      .ads.ads--full
        a(href="#").ads__link
          img(src='images/a/3.jpg').ads__element
  include templates/footer
