extends templates/base

block content
  include templates/header
  .wrapper
    section.author(style={'background-image': 'url(images/author_background.jpg)'})
      .author__inner.container
        .author__photo
          img.author__image(src='http://www.lovemarks.com/wp-content/uploads/profile-avatars/default-avatar-plaid-shirt-guy.png')
          
        h1.author__name Greg Otto
        h3.author__position Managing Editor, CyberScoop
        .author__links
          a.author__link.author__link--twitter
          a.author__link.author__link--email
    section.content
      .container
        .author-intro
          span Started. October very's own but it looks like July 4. I know way too many people here right now that I didn't know last year. I swear I could beat Serena when she playing with her left. Oh yeah, that's right, I'm doing me. I can you teach you how to speak my language, Rosetta Stone. I was running through the 6 with my woes. I might be too strung out on compliments, overdosed on confidence. Tuck my napkin in my shirt cause I'm just mobbin' like that. She said they miss the old Drake. Girl don't tempt me. All my exes live in Texas like I'm George Strait. I learned working with the negatives could make for better pictures.
        .articles-wrapper
          .articles.articles--noborder
            .articles__list
              .articles__item
                .article-thumb.article-thumb--line
                  .article-thumb__media.article-thumb__media--line
                    a(href="#").article-thumb__image(style={'background-image': 'url(images/media/Article3.jpg)'})
                  .article-thumb__information.article-thumb__information--line
                    .article-thumb__category
                      a(href="#").article-thumb__category-link.article-thumb__category-link--technology Technology
                    a(href="#").article-thumb__title
                      h3 New malware aimed at industrial systems found
                    .article-thumb__meta
                      span by <strong>Chris Bing</strong> • 1 day ago
                    .article-thumb__short
                      p FireEye researchers say the malware they dub "Irongate" could be "a test case, proof of concept, or research activity for ICS attack techniques."
              .articles__item
                .article-thumb.article-thumb--line
                  .article-thumb__media.article-thumb__media--line
                    a(href="#").article-thumb__image(style={'background-image': 'url(images/media/Article3.jpg)'})
                  .article-thumb__information.article-thumb__information--line
                    .article-thumb__category
                      a(href="#").article-thumb__category-link.article-thumb__category-link--government Government
                    a(href="#").article-thumb__title
                      h3 New malware aimed at industrial systems found
                    .article-thumb__meta
                      span by <strong>Chris Bing</strong> • 1 day ago
                    .article-thumb__short
                      p FireEye researchers say the malware they dub "Irongate" could be "a test case, proof of concept, or research activity for ICS attack techniques."
              .articles__item
                .article-thumb.article-thumb--line
                  .article-thumb__media.article-thumb__media--line
                    a(href="#").article-thumb__image(style={'background-image': 'url(images/media/Article3.jpg)'})
                  .article-thumb__information.article-thumb__information--line
                    .article-thumb__category
                      a(href="#").article-thumb__category-link.article-thumb__category-link--financial Financial
                    a(href="#").article-thumb__title
                      h3 New malware aimed at industrial systems found
                    .article-thumb__meta
                      span by <strong>Chris Bing</strong> • 1 day ago
                    .article-thumb__short
                      p FireEye researchers say the malware they dub "Irongate" could be "a test case, proof of concept, or research activity for ICS attack techniques."
              .articles__item
                .article-thumb.article-thumb--line
                  .article-thumb__media.article-thumb__media--line
                    a(href="#").article-thumb__image(style={'background-image': 'url(images/media/Article3.jpg)'})
                  .article-thumb__information.article-thumb__information--line
                    .article-thumb__category
                      a(href="#").article-thumb__category-link.article-thumb__category-link--healthcare Healthcare
                    a(href="#").article-thumb__title
                      h3 New malware aimed at industrial systems found
                    .article-thumb__meta
                      span by <strong>Chris Bing</strong> • 1 day ago
                    .article-thumb__short
                      p FireEye researchers say the malware they dub "Irongate" could be "a test case, proof of concept, or research activity for ICS attack techniques."
                      p FireEye researchers say the malware they dub "Irongate" could be "a test case, proof of concept, or research activity for ICS attack techniques."
                      p FireEye researchers say the malware they dub "Irongate" could be "a test case, proof of concept, or research activity for ICS attack techniques."
  include templates/footer
