extends templates/base

block content
  include templates/header
  .wrapper
    
    .community.community--hidden
      .community__title
        img(src='images/community.png')
      .community__container
        .people
          .people__link(data-people-id='test')
            img(src='http://place-hold.it/400x400').people__photo
        .people.people--community.show-s
          .people__link
            img(src='images/community.png').people__photo
        .people
          .people__link(data-people-id='test')
            img(src='http://place-hold.it/400x400').people__photo
        .people.people--large
          .people__link(data-people-id='test')
            img(src='http://place-hold.it/400x400').people__photo
            .people__info
              span.people__name Terry Halvorsen
              span.people__meta His Title, His agency name
        .people
          .people__link(data-people-id='test')
            img(src='http://place-hold.it/400x400').people__photo
        .people.people--large
          .people__link(data-people-id='test')
            img(src='http://place-hold.it/400x400').people__photo
            .people__info
              span.people__name Terry Halvorsen
              span.people__meta His Title, His agency name
        .people
          .people__link(data-people-id='test')
            img(src='http://place-hold.it/400x400').people__photo
        .people
          .people__link(data-people-id='test')
            img(src='http://place-hold.it/400x400').people__photo
        .people
          .people__link(data-people-id='test')
            img(src='http://place-hold.it/400x400').people__photo
        .people
          .people__link(data-people-id='test')
            img(src='http://place-hold.it/400x400').people__photo
        .people
          .people__link(data-people-id='test')
            img(src='http://place-hold.it/400x400').people__photo
        .people
          .people__link(data-people-id='test')
            img(src='http://place-hold.it/400x400').people__photo
        .people
          .people__link(data-people-id='test')
            img(src='http://place-hold.it/400x400').people__photo
        .people
          .people__link(data-people-id='test')
            img(src='http://place-hold.it/400x400').people__photo
        .people
          .people__link(data-people-id='test')
            img(src='http://place-hold.it/400x400').people__photo
        .people.people--large
          .people__link(data-people-id='test')
            img(src='http://place-hold.it/400x400').people__photo
            .people__info
              span.people__name Terry Halvorsen
              span.people__meta His Title, His agency name
        .people
          .people__link(data-people-id='test')
            img(src='http://place-hold.it/400x400').people__photo
        .people
          .people__link(data-people-id='test')
            img(src='http://place-hold.it/400x400').people__photo
        .people
          .people__link(data-people-id='test')
            img(src='http://place-hold.it/400x400').people__photo
        .people
          .people__link(data-people-id='test')
            img(src='http://place-hold.it/400x400').people__photo
  include templates/footer
  section.overlay.overlay--hidden
    .popup
      a.popup__control(href='#')
      .popup__inner.card
        .card__top
          .card__photo
            img(src="http://place-hold.it/300x300", alt="")
          .card__meta
            .card__name First Last
            .card__meta-line Title title title
            .card__meta-line Agency agency agency
        .card__bottom
          span.card__info Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
            
