extends templates/base

block content
  include templates/header
  .wrapper
    .community-wrapper
      .community.community--hidden
        .community__title
          img(src='images/community.png')
        .community__container
          .people
            .people__link(data-people-id='4638')
              img(src='http://place-hold.it/400x400').people__photo
          .people.people--community.show-s
            .people__link
              img(src='images/community.png').people__photo
          .people
            .people__link(data-people-id='2795')
              img(src='http://place-hold.it/400x400').people__photo
          .people.people--large
            .people__link(data-people-id='439')
              img(src='http://place-hold.it/400x400').people__photo
              .people__info
                span.people__name Terry Halvorsen
                span.people__meta His Title, His agency name
          .people
            .people__link(data-people-id='test')
              img(src='http://place-hold.it/400x400').people__photo
          .people.people--large
            .people__link(data-people-id='test')
              img(src='http://place-hold.it/400x400').people__photo
              .people__info
                span.people__name Terry Halvorsen
                span.people__meta His Title, His agency name
          .people
            .people__link(data-people-id='test')
              img(src='http://place-hold.it/400x400').people__photo
          .people
            .people__link(data-people-id='test')
              img(src='http://place-hold.it/400x400').people__photo
          .people
            .people__link(data-people-id='test')
              img(src='http://place-hold.it/400x400').people__photo
          .people
            .people__link(data-people-id='test')
              img(src='http://place-hold.it/400x400').people__photo
          .people
            .people__link(data-people-id='test')
              img(src='http://place-hold.it/400x400').people__photo
          .people
            .people__link(data-people-id='test')
              img(src='http://place-hold.it/400x400').people__photo
          .people
            .people__link(data-people-id='test')
              img(src='http://place-hold.it/400x400').people__photo
          .people
            .people__link(data-people-id='test')
              img(src='http://place-hold.it/400x400').people__photo
          .people
            .people__link(data-people-id='test')
              img(src='http://place-hold.it/400x400').people__photo
          .people.people--large
            .people__link(data-people-id='test')
              img(src='http://place-hold.it/400x400').people__photo
              .people__info
                span.people__name Terry Halvorsen
                span.people__meta His Title, His agency name
          .people
            .people__link(data-people-id='test')
              img(src='http://place-hold.it/400x400').people__photo
          .people
            .people__link(data-people-id='test')
              img(src='http://place-hold.it/400x400').people__photo
          .people
            .people__link(data-people-id='test')
              img(src='http://place-hold.it/400x400').people__photo
          .people
            .people__link(data-people-id='test')
              img(src='http://place-hold.it/400x400').people__photo
  include templates/footer
  .remodal(data-remodal-id='people')
    button.remodal-close(data-remodal-action='close')
    .remodal-content.card
