extends templates/base

block content
  include templates/header
  .wrapper
    .community
      .row
        .col-sm-6.col-xs-12
          .row
            .col-sm-4.col-xs-4
              .people
                img(src='http://place-hold.it/400x400').people__photo
            .col-sm-8.col-xs-8
              .community__head
                img(src="images/community.png").community__head-img
          .row
            .col-sm-4.col-xs-4
              .row
                .col-sm-12.col-xs-12
                  .people
                    img(src='http://place-hold.it/400x400').people__photo
              .row
                .col-sm-12.col-xs-12
                  .people
                    img(src='http://place-hold.it/400x400').people__photo
            .col-sm-8.col-xs-8
              .people.people--large
                img(src='http://place-hold.it/400x400').people__photo
                .people__info
                  span.people__name Terry Halvorsen
                  span.people__meta His Title, His agency name
        .col-sm-6.col-xs-12
          .row
            .col-sm-4.col-xs-4
              .row
                .col-sm-12.col-xs-12
                  .people
                    img(src='http://place-hold.it/400x400').people__photo
              .row
                .col-sm-12.col-xs-12
                  .people
                    img(src='http://place-hold.it/400x400').people__photo
            .col-sm-8.col-xs-8
              .people.people--large
                img(src='http://place-hold.it/400x400').people__photo
                .people__info
                  span.people__name Terry Halvorsen
                  span.people__meta His Title, His agency name
          .row
            .col-sm-4.col-xs-4
              .people
                img(src='http://place-hold.it/400x400').people__photo
            .col-sm-4.col-xs-4
              .people
                img(src='http://place-hold.it/400x400').people__photo
            .col-sm-4.col-xs-4
              .people
                img(src='http://place-hold.it/400x400').people__photo
      .row
        .col-sm-6.col-xs-12
          .row
            .col-sm-4.col-xs-4
              .people
                img(src='http://place-hold.it/400x400').people__photo
            .col-sm-4.col-xs-4
              .people
                img(src='http://place-hold.it/400x400').people__photo
            .col-sm-4.col-xs-4
              .people
                img(src='http://place-hold.it/400x400').people__photo
          .row
            .col-sm-4.col-xs-4
              .people
                img(src='http://place-hold.it/400x400').people__photo
            .col-sm-4.col-xs-4
              .people
                img(src='http://place-hold.it/400x400').people__photo
            .col-sm-4.col-xs-4
              .people
                img(src='http://place-hold.it/400x400').people__photo
        .col-sm-6.col-xs-12
          .row
            .col-sm-4.col-xs-4
              .row
                .col-sm-12.col-xs-12
                  .people
                    img(src='http://place-hold.it/400x400').people__photo
                .col-sm-12.col-xs-12
                  .people
                    img(src='http://place-hold.it/400x400').people__photo
            .col-sm-8.col-xs-8
              .people.people--large
                img(src='http://place-hold.it/400x400').people__photo
                .people__info
                  span.people__name Terry Halvorsen
                  span.people__meta His Title, His agency name
  include templates/footer
