extends templates/base

block content
  include templates/header
  .wrapper
    section.page-hero
      .page-hero__media(style={'background-image': 'url(https://www.wired.com/wp-content/uploads/2016/04/h_14117315-edit.jpg)'})
      .page-hero__wrapper
        .page-hero__container.container
          a(href="#").page-hero__link
          .page-hero__info
            h1.page-hero__title Agencies get hard deadlines to meet software policy
            p.page-hero__text Within 45 days, agencies must appoint a software manager to oversee license and agreement inventories, and begin reporting progress in their license management by Nov. 30.
    section.content
      .container
        .articles-wrapper
          .articles.articles--noborder
            h2.articles__title.title.hide-s Latest news
            .articles__list.articles__list--home
              .articles__item.articles__item--third
                article.article-thumb.article-thumb--bordered.article-thumb--fixed
                  .article-thumb__media
                    a(href="#").article-thumb__image(style={'background-image': 'url(images/media/Article1.jpg)'})
                  .article-thumb__information
                    .article-thumb__category
                      a(href="#").article-thumb__category-link.article-thumb__category-link--technology Technology
                    a(href="#").article-thumb__title
                      h3 Experts: No cybersecurity without collaboration
                    .article-thumb__meta
                      span by <strong>Greg Otto</strong> • 1 day ago
                    .article-thumb__short
                      p Experts said Friday the government should push the ISAC model if they twant the country to get serious on furthering cybersecurity.
              .articles__item.articles__item--third
                article.article-thumb.article-thumb--bordered.article-thumb--fixed
                  .article-thumb__media
                    a(href="#").article-thumb__image(style={'background-image': 'url(images/media/Article2.jpg)'})
                  .article-thumb__information
                    .article-thumb__category
                      a(href="#").article-thumb__category-link.article-thumb__category-link--government Government
                    a(href="#").article-thumb__title
                      h3 NIST asks for help recovering corrupted data
                    .article-thumb__meta
                      span by <strong>Jeremy Snow</strong> • 1 day ago
                    .article-thumb__short
                      p The Data Integrity project at NIST is looking for outside help to develop ways of recovering from cyberattacks that corrupt or alter an organization's data.
              .articles__item.articles__item--third
                article.article-thumb.article-thumb--bordered.article-thumb--fixed
                  .subscribe.subscribe--news
                    .subscribe__title The best cybersecurity news, delivered straight to your inbox. Sign up for our daily newsletter.
                    form(action="#", method="post").subscribe__form
                      input(type="email", name="name", placeholder="Email Address", required).subscribe__input
                      input(type="submit", value="GO").subscribe__button
                    span.subscribe__additional By signing up, you agree to our
                      a(href="#") services terms.
              .ads.ads--full
                a(href="#").ads__link
                  img(src='images/a/2.png').ads__element
              .articles__item.articles__item--third
                article.article-thumb.article-thumb--bordered.article-thumb--fixed
                  .article-thumb__media
                    a(href="#").article-thumb__image(style={'background-image': 'url(images/media/Article4.jpg)'})
                  .article-thumb__information
                    .article-thumb__category
                      a(href="#").article-thumb__category-link.article-thumb__category-link--financial Financial
                    a(href="#").article-thumb__title
                      h3 Cyber leaders describe dream federal CISO
                    .article-thumb__meta
                      span by <strong>Greg Otto</strong> • 1 day ago
                    .article-thumb__short
                      p Cybersecurity officials want a federal CISO who will help get their message out and keep that message going into the next administration.
              .articles__item.articles__item--third
                article.article-thumb.article-thumb--bordered.article-thumb--fixed
                  .article-thumb__media
                    a(href="#").article-thumb__image(style={'background-image': 'url(images/media/Article5.jpg)'})
                  .article-thumb__information
                    .article-thumb__category
                      a(href="#").article-thumb__category-link.article-thumb__category-link--healthcare Healthcare
                    a(href="#").article-thumb__title
                      h3 How the OPM breach was really discovered
                    .article-thumb__meta
                      span by <strong>Billy Mitchell</strong> • 1 day ago
                    .article-thumb__short
                      p OPM itself actually discovered the breaches in its systems, a letter from lawmakers says.
              .articles__item.articles__item--third
                article.article-thumb.article-thumb--bordered.article-thumb--fixed
                  .article-thumb__media
                    a(href="#").article-thumb__image(style={'background-image': 'url(images/media/Article6.jpg)'})
                  .article-thumb__information
                    .article-thumb__category
                      a(href="#").article-thumb__category-link.article-thumb__category-link--technology Technology
                    a(href="#").article-thumb__title
                      h3 Audit: IT problems with TSA airport screening equipment persist
                    .article-thumb__meta
                      span by <strong>Jeremy Snow</strong> • 1 day ago
                    .article-thumb__short
                      p The TSA's lack of server updates and poor oversight caused a plethora of IT security problems, an inspector general audit said.
              .articles__item.articles__item--third
                article.article-thumb.article-thumb--bordered.article-thumb--fixed
                  .article-thumb__media
                    a(href="#").article-thumb__image(style={'background-image': 'url(images/media/Article1.jpg)'})
                  .article-thumb__information
                    .article-thumb__category
                      a(href="#").article-thumb__category-link.article-thumb__category-link--technology Technology
                    a(href="#").article-thumb__title
                      h3 Experts: No cybersecurity without collaboration
                    .article-thumb__meta
                      span by <strong>Greg Otto</strong> • 1 day ago
                    .article-thumb__short
                      p Experts said Friday the government should push the ISAC model if they twant the country to get serious on furthering cybersecurity.
              .articles__item.articles__item--third
                article.article-thumb.article-thumb--bordered.article-thumb--fixed
                  .article-thumb__media
                    a(href="#").article-thumb__image(style={'background-image': 'url(images/media/Article2.jpg)'})
                  .article-thumb__information
                    .article-thumb__category
                      a(href="#").article-thumb__category-link.article-thumb__category-link--government Government
                    a(href="#").article-thumb__title
                      h3 NIST asks for help recovering corrupted data
                    .article-thumb__meta
                      span by <strong>Jeremy Snow</strong> • 1 day ago
                    .article-thumb__short
                      p The Data Integrity project at NIST is looking for outside help to develop ways of recovering from cyberattacks that corrupt or alter an organization's data.
              .articles__item.articles__item--third
                article.article-thumb.article-thumb--bordered.article-thumb--fixed
                  .ads
                    a(href="#").ads__link
                      img(src='images/a/1.jpg').ads__element
            .articles__more More cybersecurity updates
  include templates/footer
