doctype
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no')
    meta(name='author', content='@sergeyloysha')    
    title CyberScoop Front-end
    style.
      html {
        font-size: 62.5%;
      }
      body {
        font: 1.4rem/1.8rem Helvetica, Arial, sans-serif;
      }
      a {
        color: #262626;
      }
      a:hover {
        color: #262626;
        text-decoration: none;
      }
      .loysha {
        max-width: 1024px;
        margin: 100px auto 0 auto;
      }
      .loysha__title {
        font-size: 2.4rem;
        line-height: 3rem;
      }
      .loysha__link {
        box-shadow: 0px 1px 0px 0px #555;
        text-decoration: none;
        line-height: 2rem;
      }
      .loysha__list {
        padding: 0;
        margin: 25px 0 0 15px;
      }
      li {
        line-height: 2.5rem;
      }
  body
    .loysha
      .loysha__title CyberScoop Front-end
      a(href="https://github.com/sergeyloysha").loysha__link sergeyloysha
      ol.loysha__list
        li
          a(href="home.html") Home 
        li
          a(href="technology.html") Technology
        li
          a(href="watch.html") Watch
        li
          a(href="watch-landing.html") Watch landing
        li
          a(href="attend.html") Attend
        li
          a(href="article.html") Article
        li
          a(href="community.html") Community
