extends templates/base

block content
  include templates/header
  .wrapper
    .watch-landing
      .container.watch-landing__inner
        .watch-landing__title.title.title--normal CyberScoop TV
        .watch-landing__wrapper
          iframe(width="560" height="349" src="http://www.youtube.com/embed/n_dZNLr2cME?rel=0&hd=1" frameborder="0" allowfullscreen)
        h1.watch-landing__name Experts: No cybersecurity without collaboration
        .watch-landing__share.share
          a.share__link.share__link--twitter
          a.share__link.share__link--facebook
          a.share__link.share__link--linkedin
        .watch-landing__videos
          .watch-landing__videos-title Watch now
          .watch-landing__videos-controls
            #slider-prev.watch-landing__videos-control.watch-landing__videos-control--prev Previous
            #slider-next.watch-landing__videos-control.watch-landing__videos-control--next More
          .watch-landing__l
            ul.watch-landing__list
              li.watch-landing__item
                a(href="#").watch-landing__link
                  img(src="images/media/Article0.png").watch-landing__link-image
                  span.watch-landing__link-text Cybersecurity video featuring Greg Otto and Frank Konieczny
              li.watch-landing__item
                a.watch-landing__link
                  img(src="images/media/Article0.png").watch-landing__link-image
                  span.watch-landing__link-text Cybersecurity video featuring Greg Otto and Frank Konieczny
              li.watch-landing__item
                a.watch-landing__link
                  img(src="images/media/Article0.png").watch-landing__link-image
                  span.watch-landing__link-text Cybersecurity video featuring Greg Otto and Frank Konieczny
              li.watch-landing__item
                a.watch-landing__link
                  img(src="images/media/Article0.png").watch-landing__link-image
                  span.watch-landing__link-text Cybersecurity video featuring Greg Otto and Frank Konieczny
              li.watch-landing__item
                a.watch-landing__link
                  img(src="images/media/Article0.png").watch-landing__link-image
                  span.watch-landing__link-text Cybersecurity video featuring Greg Otto and Frank Konieczny
              li.watch-landing__item
                a.watch-landing__link
                  img(src="images/media/Article0.png").watch-landing__link-image
                  span.watch-landing__link-text Cybersecurity video featuring Greg Otto and Frank Konieczny
              li.watch-landing__item
                a.watch-landing__link
                  img(src="images/media/Article0.png").watch-landing__link-image
                  span.watch-landing__link-text Cybersecurity video featuring Greg Otto and Frank Konieczny
              li.watch-landing__item
                a.watch-landing__link
                  img(src="images/media/Article0.png").watch-landing__link-image
                  span.watch-landing__link-text Cybersecurity video featuring Greg Otto and Frank Konieczny
              li.watch-landing__item
                a.watch-landing__link
                  img(src="images/media/Article0.png").watch-landing__link-image
                  span.watch-landing__link-text Cybersecurity video featuring Greg Otto and Frank Konieczny
              li.watch-landing__item
                a.watch-landing__link
                  img(src="images/media/Article0.png").watch-landing__link-image
                  span.watch-landing__link-text Cybersecurity video featuring Greg Otto and Frank Konieczny
              li.watch-landing__item
                a.watch-landing__link
                  img(src="images/media/Article0.png").watch-landing__link-image
                  span.watch-landing__link-text Cybersecurity video featuring Greg Otto and Frank Konieczny
              li.watch-landing__item
                a.watch-landing__link
                  img(src="images/media/Article0.png").watch-landing__link-image
                  span.watch-landing__link-text Cybersecurity video featuring Greg Otto and Frank Konieczny
              li.watch-landing__item
                a.watch-landing__link
                  img(src="images/media/Article0.png").watch-landing__link-image
                  span.watch-landing__link-text Cybersecurity video featuring Greg Otto and Frank Konieczny
        
    .container        
      .ads.ads--full
        a(href="#").ads__link
          img(src='images/a/2.png').ads__element
  include templates/footer
