footer.footer
  .footer__nav
    .container
      .footer__nav-inner
        ul.footer-nav__list
          li.footer-nav__item
            a.footer-nav__link(href="#") About
          li.footer-nav__item
            a.footer-nav__link(href="#") Sponsor
          li.footer-nav__item
            a.footer-nav__link(href="#") RSS
        ul.footer-social__list
          li.footer-social__item
            a.footer-social__link.footer-social__link--facebook(href="#")
          li.footer-social__item
            a.footer-social__link.footer-social__link--twitter(href="#")
          li.footer-social__item
            a.footer-social__link.footer-social__link--linkedin(href="#")
  .container.footer__inner
    .footer__bottom
      .sng
        a.sng__link.sng__link--cyberscoop(href="#")
        a.sng__link.sng__link--edscoop(href="#")
        a.sng__link.sng__link--sng(href="#")
        a.sng__link.sng__link--fedscoop(href="#")
        a.sng__link.sng__link--statescoop(href="#")
    .footer__copyright © 2016 Scoop News Group  |  All Rights Reserved
.overlay-search
  form(method="post", action="/",role="search").overlay-search-form
    input(name="search" placeholder="Type to search").overlay-search-input
  span.search-close ×
.remodal(data-remodal-id='subscribe')
  button.remodal-close(data-remodal-action='close')
  .remodal-content
    .subscribe.subscribe--modal
      .subscribe__icon
      .subscribe__title The best cybersecurity news, delivered straight to your inbox. Sign up for our daily newsletter.
      form(action="", method="post").subscribe__form
        input(type="email", name="name", placeholder="Email Address", required).subscribe__input
        input(type="submit", value="GO").subscribe__button
