header.header
  .header__head
    a(href="#").header__link Subscribe
    a(href="#").header__logo.logo
    .header__right
      a(href="http://scoopnewsgroup.com/", target="_blank").header__link.show-s Brought to you by
        i
      #search.header__control
        i.header__control-icon.header__control-icon--search
      #menu.header__control.hide-s
        i.header__control-icon.header__control-icon--menu
  nav.header__nav.nav
    ul.nav__list(role="navigation")
      li.nav__item
        a(href="#").nav__link.nav__link--government Government
      li.nav__item
        a(href="#").nav__link.nav__link--transportation Transportation
      li.nav__item.nav__item--active
        a(href="#").nav__link.nav__link--healthcare Healthcare
      li.nav__item
        a(href="#").nav__link.nav__link--technology Technology
      li.nav__item
        a(href="#").nav__link.nav__link--financial Financial
      li.nav__item
        a(href="#").nav__link.nav__link--watch Watch
      li.nav__item
        a(href="#").nav__link.nav__link--listen Listen
      li.nav__item
        a(href="#").nav__link.nav__link--attend Attend
      li.nav__item
        a(href="#").nav__link.nav__link--community Community
